---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <div class="w-full text-center">
        <p>
            At least for now, this site purely serves as a place to download
            <a href="https://github.com/TheLazySquid/Gimloader">Gimloader</a>
            plugins. There's nothing to see here.
        </p>
    </div>
</Layout>